<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> user register</h1>
    <form action="/register" method="post">
        <input type="text" placeholder="enter name" name="name">
          <input type="email" placeholder="enter email" name="email">
            <input type="password" placeholder="enter password" name="password">
          <input type="text" placeholder="enter role" name="role">
          <input type="submit" value="user register">
    </form>
</body>
</html>